extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.svg', width='160')
		h1 Ciao
		p
			| VisitVeneto exist to share knowledge about the magnificent land of Veneto, the area around 
			a(href='/places/place/venice') Venice 
			| in north-eastern Italy.
		p Mostly known for its capital city, the most unique town in the world, Veneto is a land dense with culture, art, nature and so many places to visit.
		p 
			| The second most aknowledged city in Veneto is 
			a(href='/places/place/verona') Verona
			| , mostly known for being the town of Romeo and Juliet.
		p Only 115 Km divides this two Cityes, or one hour and fifteen minutes by car or by train.
		p This website tells about amazing places you can find in between.
		p 
			a(href='/places/place/vicenza') Vicenza 
			| is Andrea Palladio's town, where you can delight your eyes with the maximum expression of neoclassical architecture.
		p
			| It's only 45 minutes from both Venice and Verona! The perfect place to look for an 
			a(href='/places/accomodation') accomodation 
			| to set a comprehensive holiday in Veneto!
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone/signin').btn.btn-lg.btn-primary Open the Admin UI
		else
			p This is a work in progress. Remember to come back from time to time.
		hr
		p You can also help us improve <a href='https://github.com/luky83/visitveneto' target='_blank'>VisitVeneto on GitHub</a> and
			| <a href='https://twitter.com/VIVeneto' target='_blank'>follow @VIVeneto</a> on twitter for updates.
